.hero-section {
    height: 350px; /* Set the desired height */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .background-image-part {
    width: 100%; /* Makes the div span the full width of its parent */
    height: 100%; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
    /* Set other properties like height or padding as needed */
  }
  
  .white-background-part {
    height: 400px;
    background-color: #ffffff;
    /* Set other properties like height or padding as needed */
  }
  

  .About-me {
    height: 500px;
    /* background-color: #e0dbdb; */
    background-color: #b0d3ee;
  }

  .Professional-Experience {
    min-height: 500px;
    height: auto;
    background-color: rgb(255, 255, 255);
  } 

  .Projects {
    min-height: 500px;
    height: auto;
    background-color: #b0d3ee;
  }

  .Contacts {
    min-height: 500px;
    height: auto;
    background-color: #ffffff;
  }