@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

.ProfessionalExperience-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  background-color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.ProfessionalExperience-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.4;
  margin-bottom: 20px;
}

.ProfessionalExperience-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  max-width: 90%;
  text-align: justify;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.Job-entry {
  margin-bottom: 40px;
}

.Job-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.Company-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.Job-role-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Job-role {
  font-size: 1.2rem;
  margin: 0;
  font-weight: normal;
}

.Job-details {
  font-size: 0.9rem;
  color: #5d5d5d;
  margin-top: 0.5rem;
}

.Job-resume p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .ProfessionalExperience-section {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 60px;
    text-align: left;
  }

  .ProfessionalExperience-title {
    font-size: 3rem;
    margin-right: 40px;
    text-align: left;
    flex-basis: 30%;
  }

  .ProfessionalExperience-content {
    font-size: 1.2rem;
    max-width: 70%;
    margin-top: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .ProfessionalExperience-title {
    font-size: 2rem;
  }

  .ProfessionalExperience-content {
    font-size: 1rem;
    padding: 15px;
  }
}
